<!DOCTYPE html>
<html>
<head>
    <title>Benjy's Amazing Game</title>
	<meta charset="utf-8" />
    <link href="/Styles/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="Maze-Navbar"></div>
    <div class="jumbotron text-center">
        <h1>Benjy's Amazing Game</h1>
        <p>This is a maze game, you can play it</p>
        <p>Register and Login to play</p>
        <p>Thanks</p>
        <p>Love Benjy</p>
    </div>
    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/navbar.js"></script>
</body> 
</html>
