<!DOCTYPE html>
<html>
<head>
    <title>Single Player</title>
	<meta charset="utf-8" />
    <link href="/Styles/bootstrap.css" rel="stylesheet" />
    <link href="/Styles/loader.css" rel="stylesheet" />
</head>
<body>
    <div id="Maze-Navbar"></div>
    <div class="container">
        <h1>Generate Maze</h1>
        <div class="col-sm-4">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" placeholder="Maze Name">
                </div>
                <div class="form-group">
                    <label for="rows">Rows</label>
                    <input class="form-control" type="number" id="rows" placeholder="Number of rows">
                </div>
                <div class="form-group">
                    <label for="columns">Columns</label>
                    <input class="form-control" type="number" id="columns" placeholder="Number of columns">
                </div>
            </form>
            <button id="btnGenerate" class="btn btn-default">Generate Maze</button>
            <hr />
            <form>
                <div class="form-group">
                    <label for="name">Algorithm</label>
                    <select class="form-control" id="algorithm">
                        <option value="0">BFS</option>
                        <option value="1">DFS</option>
                    </select>
                </div>
            </form>
            <button class="btn btn-default" id="btnSolve">Solve Maze</button>
        </div>
        <div class="col-sm-8">
            <div id="loading" class="loader" style="display:none; margin:0 auto"></div>
            <canvas id="singlecanvas" class="maze" style="border: 3px solid #000000" width="400" height="400"/>
        </div>
    </div>

    <img src="player1.png" id="player1" style="display:none"/>
    <img src="goal.png" id="goal" style="display:none" />
    <img src="start.png" id="start" style="display:none" />

    <script src="/Scripts/jquery-3.1.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/navbar.js"></script>
    <script src="/Scripts/jQuery.mazeBoard.js"></script>
    <script src="/Scripts/singleMaze.js"></script>
</body>
</html>
